<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link type="text/css" rel="stylesheet" href="vendor/components/flag-icon-css/css/flag-icon.min.css">


</head>
<body>

<header>
    <h1>Flaggs</h1>
</header>
<f:for each="{Flags}" as="flag">
    <div style="background-color: {flag.color};">
        <p>Name: {flag.name}, Farbe: {flag.color}, Breite: {flag.width}, Höhe: {flag.height}, Preis: {flag.price}</p>
    </div>
</f:for>

<p>Testflagge - Griechenland</p>
<span class="flag-icon flag-icon-gr"></span>
</body>
</html>